   
/* Fancy Bartender Video On Background */

.video {
    min-width: 100%;
    min-height: 100%;
}

.intro {
    height: 100vh;
    overflow: hidden;
}

/* Logo, Introduction Text And Action Buttons */
.h1 {
    top: 0;
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.h5 {
   font-size: 30px;
}

.wrapper {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    height: 100vh;
    width: 100%;
    padding: 20px;
}

.btnAction {
    font-size:30px;
    border-radius: 20px;
    padding: 20px;
    width: 180px;
}

.textBottom {
    padding-bottom: 150px;
}