
.navbarBrand {

    margin: 0;
    position:absolute;
    right: 30px;

}

.navbar-brand:hover {

    color: greenyellow !important;

}

.h1 {

    font-size: 25px;

}

.logout {

    color: white;
    font-size: 20px !important;
    text-decoration: none;

}

.logout:hover {

    color: red !important;

}

.span {

    color: white;
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;

}