.introSection {

  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../../public/photos/admin-panel-background.jpg);

}

.textSection {

  background-color: white;
  border-radius: 20px;
  padding: 30px;
  color: black;

}

.digitalClock {
  width: 300px;
  height: 100px;
  color: black;
  border: 2px solid black;
  border-radius: 4px;
  text-align: center;
  font: 50px/60px 'DIGITAL', Helvetica;
  background: white;
}