.sideBar {

    width: 300px;
    height: 100vh;
    background-color: #151515 !important;
    overflow: auto;
    position: fixed;
}

.sectionTitle {

    font-weight: bold;

}

.active {

    background-color: orange !important;
    color: black !important;

}

.navLink:hover {
    background-color: rgba(142, 243, 83, 0.774) !important;
}

.logout:hover {
    background-color: white;
    color: black !important;
}